@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
*{
    font-family: "Jost" !important;
}
#top{
    height: 26px;
    background-color:rgb(255, 255, 255) ;}

.rad{
    background-color: rgb(224, 213, 213) !important;
    border-radius: 25px !important;
    text-align: center !important;
    padding: 10px 40px !important;
    font-family: "Jost" !important;
    font-size: 100% !important;
    font-weight: bold !important;
    position:absolute;
}
.fill-viewport {
    min-height: 15vh
}
.rad-comp{
    background-color: rgb(154, 18, 18) !important;
    border-radius: 25px !important;
    text-align: center !important;
    padding: 15px 70px !important;
    font-family: "Jost" !important;
    font-size: 100% !important;
    font-weight: bold !important;
    position:absolute;
}
#img{
    position:absolute;
}
.text-inf{
    text-align: right;
    color: black;
    font-size: 25px;

}
#strelka{
    position:fixed;
    height: 8%;
}
#foot-st{
    height: 14vh;
    background-color: rgb(189, 205, 216);
}
#list{
    position: absolute;
    height: 40%;
    left:80%;
    top:60%;
}
#info{
    height: 59.5vh;
}